[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

"pymorphy2" = {extras = ["fast"]}
python-telegram-bot = "*"
requests = "*"
vk_api = "*"
nltk = "*"
feedparser = "*"


[requires]

python_version = "3.6.4"